.member-item {
    margin-bottom: 30px;
}

.member-profile {
    height: 205px;;
}

.member-profile > img {
    margin: 0 auto;
    max-height: 125px;
    max-width: 125px;
}

.benefit-item-container {
    width: 100%;
}

.benefit-item {
    height: 100px;
}

